@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5f781p');
  src:  url('fonts/icomoon.eot?5f781p#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5f781p') format('truetype'),
    url('fonts/icomoon.woff?5f781p') format('woff'),
    url('fonts/icomoon.svg?5f781p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e907";
}
.icon-balance-l:before {
  content: "\e900";
}
.icon-balance-r:before {
  content: "\e901";
}
.icon-balance:before {
  content: "\e902";
}
.icon-gavel:before {
  content: "\e903";
}
.icon-share:before {
  content: "\e904";
}
.icon-telegram:before {
  content: "\e905";
}
.icon-user:before {
  content: "\e906";
}
