
    <section class="wrp box-bg-f4f4f4">
        <section class="box">
            <h2 class="t_center mb30">Калькулятор лизинга</h2>
            <p class="t_center mb30">Сделайте предварительный расчет ежемесячного платежа по лизингу</p>
            <div class="slider_range calc-body mb0">
                <!--<div class="row mb40">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4 mb15">
                        <select id="Brand" name="Brand" chosen="{ width: '100%' }" required
                                ng-model="$ctrl.model.brandId"
                                ng-options="brand.safoId as brand.text for brand in $ctrl.data.brands"
                                data-placeholder="Выберите марку"></select>

                    </div>
                    <div class="col-sm-4 mb15">
                        <select id="Model" name="Model" chosen="{ width: '100%' }" required
                                ng-model="$ctrl.model.modelId"
                                ng-options="model.safoId as model.text for model in $ctrl.data.models"
                                data-placeholder="Выберите модель"></select>

                    </div>
                    <div class="col-sm-2"></div>
                </div>-->


                <div class="slider_range-wrapper">

                    <div class="slider_range-item mb30">
                        <div class="slider_range-data">
                            <label class="range-label fs-21" for="amount">Стоимость авто</label>
                            <div class="r-price">
                                <input number-input="$ctrl.model.price" type="text"
                                       numbers-only range = "{min: $ctrl.data.sliderOptions.price.min, max: $ctrl.data.sliderOptions.price.max }"                                      
                                       class="range-input" id="amount">

                            </div>

                            <span class="r-note">до 15 000 000&nbsp;руб.</span>

                        </div>
                        <div id="slider-range-min"></div>

                        <div ng-model="$ctrl.model.price" ui-slider name="price" type='range'
                             min="{{ $ctrl.data.sliderOptions.price.min}}"
                             max="{{ $ctrl.data.sliderOptions.price.max}}"
                             step="{{ $ctrl.data.sliderOptions.price.step}}">
                            <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" ng-style="{ 'width' : (($ctrl.model.price  - $ctrl.data.sliderOptions.price.min) /  ($ctrl.data.sliderOptions.price.max - $ctrl.data.sliderOptions.price.min) * 100) + '%'}"></div>
                        </div>

                    </div>


                    <div class="slider_range-item">
                        <div class="slider_range-data">
                            <label class="range-label fs-21" for="amount2">Аванс</label>
                            <div class="r-prepay">
                                <input ng-model="$ctrl.model.advance" numbers-only class="range-input"
                                       numbers-range="{ min: $ctrl.data.sliderOptions.advance.min, max: $ctrl.data.sliderOptions.advance.max }"
                                       type="text" id="amount2">
                            </div>
                            <span class="r-note">от {{$ctrl.data.sliderOptions.advance.min}}% до 49 %</span>
                        </div>
                        <!--<div id="slider-range-min2"></div>-->
                        <div ng-model="$ctrl.model.advance" ui-slider name="advance" type='range'
                             min="{{ $ctrl.data.sliderOptions.advance.min}}"
                             max="{{ $ctrl.data.sliderOptions.advance.max}}"
                             step="{{ $ctrl.data.sliderOptions.advance.step}}">
                            <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" ng-style="{ 'width' : (($ctrl.model.advance - $ctrl.data.sliderOptions.advance.min)  /  ($ctrl.data.sliderOptions.advance.max -  $ctrl.data.sliderOptions.advance.min) * 100) + '%'}"></div>
                        </div>
                    </div>

                    <div class="slider_range-item">
                        <div class="slider_range-data">
                            <label class="range-label fs-21" for="amount3">Срок</label>
                            <div class="r-date">
                                <input ng-model="$ctrl.model.term" numbers-only
                                       numbers-range="{ min: $ctrl.data.sliderOptions.term.min, max: $ctrl.data.sliderOptions.term.max }"
                                       class="range-input" type="text" id="amount3">
                            </div>
                            <span class="r-note">от 12 мес. до {{$ctrl.data.sliderOptions.term.max}} мес.</span>
                        </div>
                        <!--<div id="slider-range-min3"></div>-->

                        <div ng-model="$ctrl.model.term" ui-slider name="term" type='range'
                             min="{{ $ctrl.data.sliderOptions.term.min}}"
                             max="{{ $ctrl.data.sliderOptions.term.max}}"
                             step="{{ $ctrl.data.sliderOptions.term.step}}">
                            <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" ng-style="{ 'width' : (($ctrl.model.term - $ctrl.data.sliderOptions.term.min) /  ($ctrl.data.sliderOptions.term.max -  $ctrl.data.sliderOptions.term.min) * 100) + '%'}"></div>
                        </div>
                     

                    </div>

                    <div class="slider_range-item">
                        <dl class="slider_range-result">
                            <dt>
                                <div id="revenue">
                                    Ежемесячный платёж
                                    <p>
                                        <span>{{ $ctrl.model.payment / 1.18 | number:0 }}</span>&nbsp;руб.
                                    </p>
                                </div>
                                <span class="fs-12 color_l">
                                    Расчёт приведён с вычетом НДС ({{ $ctrl.model.payment | number: 0 }}&nbsp;руб.&nbsp;-&nbsp;{{ $ctrl.model.payment - $ctrl.model.payment / 1.18 | number: 0 }}&nbsp;руб.&nbsp;НДС&nbsp;=&nbsp;{{ $ctrl.model.payment / 1.18 | number: 0 }}&nbsp;руб.)
                                </span>
                            </dt>
                        </dl>
                    </div>

                </div>

                <div class="t_center ">
                    <!--
                    <a class="btn btn_active" type="button" href="#request" interest-button target="_self" target="_self">Отправить заявку</a>
                    <button class="btn btn_active q1 -desktop" type="button" interest-button block-title="'Заказать звонок'">Заказать звонок</button>
                    -->
                    <button class="btn btn_active q1" type="button" interest-button block-title="'Отправить заявку'">Отправить заявку</button>
                </div>


            </div>
            <!--
            <div class="ds_none">
            <h3 class="t_center mb30">При этом вы не теряете деньги на налогах</h3>
            <div class="-desktop">
                <table class="table table-centered table-my">
                    <thead>
                        <tr>
                            <th>Покупка</th>
                            <th>В лизинг</th>
                            <th>За счёт дивидендов</th>
                            <th>За счёт зарплаты</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="fs-18">Потери</p>
                            </td>
                            <td>
                                <p class="color_active font_pf-s fs-28 mb0">0&nbsp;руб.</p>
                            </td>
                            <td>
                                <p class="color_active font_pf-s fs-28 mb15"><span ng-cloak>{{ $ctrl.model.price * 0.48254 | number: 0 }}</span>&nbsp;руб.</p>
                            </td>
                            <td><p class="color_active font_pf-s fs-28 mb15"><span ng-cloak>{{ $ctrl.model.price * 0.58254 | number: 0 }}</span>&nbsp;руб.</p></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <p class="t_left" style="padding:15px;">
                                    &mdash;&nbsp;НДС 18%<br />
                                    &mdash;&nbsp;Налог на прибыль 20%<br />
                                    &mdash;&nbsp;Налог на дивиденды 13%<br />
                                    &mdash;&nbsp;Зависимость от графика дивидендов
                                </p>
                            </td>
                            <td>
                                <p class="t_left" style="padding:15px;">
                                    &mdash;&nbsp;НДС 18%<br />
                                    &mdash;&nbsp;Страховые взносы на&nbsp;ФОТ&nbsp;30%<br />
                                    &mdash;&nbsp;НДФЛ 13%<br />
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="-mobile">
                <table class="table table-centered table-my">
                    <thead>
                        <tr>
                            <th>Покупка в лизинг</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="color_active font_pf-s fs-28 mb0">0&nbsp;руб.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-centered table-my">
                    <thead>
                        <tr>
                            <th>За счёт дивидендов</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="color_active font_pf-s fs-28 mb0">{{ $ctrl.model.price * 0.48254 | number: 0 }}&nbsp;руб.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="t_left" style="padding:15px;">
                                    &mdash;&nbsp;НДС 18%<br />
                                    &mdash;&nbsp;Налог на прибыль 20%<br />
                                    &mdash;&nbsp;Налог на дивиденды 13%<br />
                                    &mdash;&nbsp;Зависимость от графика дивидендов
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-centered table-my">
                    <thead>
                        <tr>
                            <th>За счёт зарплаты</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p class="color_active font_pf-s fs-28 mb0">{{ $ctrl.model.price * 0.58254 | number: 0 }}&nbsp;руб.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="t_left" style="padding:15px;">
                                    &mdash;&nbsp;НДС 18%<br />
                                    &mdash;&nbsp;Страховые взносы на&nbsp;ФОТ&nbsp;30%<br />
                                    &mdash;&nbsp;НДФЛ 13%<br />
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
                </div>
        </section>
    </section>
-->



