
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0;}
body, html { font-size: 100%; padding: 0; margin: 0; line-height: 1;}

.c:before, .c:after { content: " "; display: table; }
.c:after { clear: both; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
	color: #333;
	font-size: 16px;
	line-height: 1;
}

h1 {
	font-size: 24px;
	line-height: 1;
	margin-bottom: 20px;
	font-weight: 600;
}

h2 {
	font-size: 16px;
	line-height: 1;
	margin: 20px 0 15px;
	font-weight: 600;
}

h3 {
	font-size: 14px;
	line-height: 1;
	margin: 20px 0 10px;
	font-weight: normal;
	font-weight: 600;
}

h4 {
	margin: 10px 0 10px;
}

h5 {
	margin: 10px 0 10px;
}

p {
	font-size: 16px;
	line-height: 1;
}

input {
	font-family: 'Montserrat', Arial, sans-serif;
	border: none;
}

input[type=submit] {
	cursor: pointer;
	background: #ff9900;
	border: none;
}

input[type=submit]:hover {
	background: #ff8400;
}

button {
	cursor: pointer;
	font-family: 'Montserrat', Arial, sans-serif;
	background: #ff9900;
	border: none;
}

button:hover {
	background: #ff8400;
}

.ul {
	list-style-type: disc;
	list-style-position: inside;
	margin-left: 20px;
	margin-bottom: 20px;
}

.ul li {
	line-height: 1.5;
	margin-bottom: 10px;
}

.ol {
	list-style-type: decimal;
	list-style-position: inside;
	margin-left: 20px;
	margin-bottom: 20px;
}

.ol li {
	line-height: 1.5;
	margin-bottom: 10px;
}

.strong {
    font-weight: bold;   
}

.em {
    font-style: italic;   
}

a {
	cursor: pointer;
	color: #4aa102;
    text-decoration: none;
}

a:hover {
	color: #418a03;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.nowrap {
	white-space: nowrap;
}

.ml20 {
	margin-left: 20px;
}

.mr20 {
	margin-right: 20px;
}

.mt15 {
	margin-top: 15px;
}

.mt20 {
	margin-top: 20px;
}

.mt30 {
	margin-top: 30px;
}

.mb15 {
	margin-bottom: 15px;
}

.mb20 {
	margin-bottom: 20px;
}

.mb30 {
	margin-bottom: 30px;
}

.pt10 {
	padding-top: 10px;
}

.pt15 {
	padding-top: 15px;
}

.pt20 {
	padding-top: 20px;
}

.pt30 {
	padding-top: 30px;
}

.pt40 {
	padding-top: 40px;
}

.pb10 {
	padding-bottom: 10px;
}

.pb20 {
	padding-bottom: 20px;
}

.pb30 {
	padding-bottom: 30px;
}

.pb40 {
	padding-bottom: 40px;
}

.pb50 {
	padding-bottom: 50px;
}

.pb60 {
	padding-bottom: 60px;
}

.pb70 {
	padding-bottom: 70px;
}

.pb100 {
	padding-bottom: 100px;
}

.pb120 {
	padding-bottom: 120px;
}

.b {
	width: 1200px;
	margin: 0 auto;
}

.h_b {
	height: 100px;
}

.logo {
	display: block;
	float: left;
	width: 670px;
	height: 100%;
	background: url(images/logo.png) no-repeat 0 50%;
	text-indent: -3000px;
}

.tel {
	float: left;
	width: 270px;
	height: 100%;
	line-height: 100px;
	font-size: 32px;
	font-weight: 600;
	color: #4aa102;
	text-align: right;
}

.tel:hover {
	color: #418a03;
}

.cb {
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 170px;
	height: 100%;
}

.cb a {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
	background-color: #efa904;
	color: #fff;
	text-align: center;
	font-weight: 600;
}

.cb a:hover {
	background-color: #ef9904;
}

.h_menu_w {
	width: 100%;
	height: 50px;
	background-color: #67b429;
}

.h_menu_block {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.h_menu_block a {
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
}

.h_menu_block a:hover {
	color: #2d5d07;
}

.head_w {
	width: 100%;
	height: 560px;
	background: url(images/bg-h.jpg) no-repeat 50% 50% / cover;
}

.head_b {
	padding: 30px 0;
}

.head_b h1 {
	font-size: 56px;
	font-weight: 800;
	text-align: center;
	color: #67b429;
	text-transform: uppercase;
	text-shadow: -0   -2px 1px #FFFFFF,
		 0   -2px 1px #FFFFFF,
		-0    2px 1px #FFFFFF,
		 0    2px 1px #FFFFFF,
		-2px -0   1px #FFFFFF,
		 2px -0   1px #FFFFFF,
		-2px  0   1px #FFFFFF,
		 2px  0   1px #FFFFFF,
		-1px -2px 1px #FFFFFF,
		 1px -2px 1px #FFFFFF,
		-1px  2px 1px #FFFFFF,
		 1px  2px 1px #FFFFFF,
		-2px -1px 1px #FFFFFF,
		 2px -1px 1px #FFFFFF,
		-2px  1px 1px #FFFFFF,
		 2px  1px 1px #FFFFFF,
		-2px -2px 1px #FFFFFF,
		 2px -2px 1px #FFFFFF,
		-2px  2px 1px #FFFFFF,
		 2px  2px 1px #FFFFFF,
		-2px -2px 1px #FFFFFF,
		 2px -2px 1px #FFFFFF,
		-2px  2px 1px #FFFFFF,
		 2px  2px 1px #FFFFFF;
}

.head_b h1 span {
	color: #efa904;
	margin: 0 10px;
}

.head_b_calc {
	background-color: rgba(18,18,13,0.5);
	height: 400px;
	border-radius: 5px;
	color: #fff;
	margin-top: 30px;
}

.head_b_calc_1 {
	float: left;
	width: 570px;
	margin-left: 50px;
}

.head_b_calc_l_block_t {
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	margin: 20px 0;
}

.head_b_calc_2 {
	float: right;
	width: 420px;
	margin-top: 30px;
	margin-right: 50px;
}

.head_b_calc_2_table td {
	padding-top: 20px;
	padding-bottom: 20px;
}

.head_b_calc_2_block {
	font-size: 28px;
	font-weight: 600;
	margin: 15px 0;
}

.head_b_calc_2_block_i {
	padding-right: 40px;
}

.head_b_calc_2_but input[type=submit] {
	width: 100%;
	height: 60px;
	line-height: 60px;
	color: #fff;
	text-align: center;
	font-size: 22px;
	font-weight: 600;
	border-radius: 5px;
	background-color: #efa904;
	margin-top: 30px;
}

.ps_w {
	background-color: #f6f6f6;
	padding: 15px 0;
}

.h2_m {
	font-size: 40px;
	font-weight: 800;
	margin: 30px 0;
	text-align: center;
	color: #67b429;
	text-transform: uppercase;
}

.ps_bl_d {
	float: left;
	width: 370px;
	background-color: #fff;
	border-radius: 10px;
}

.ps_bl_dh {
	background-color: #67b429;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 22px;
	font-weight: 800;
	color: #fff;
}

.ps_bl_di {
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
}

.ps_bl_di.lc {
	border-bottom: none;
}

.ps_bl_di_t {
	font-size: 12px;
	text-align: center;
	color: #aaa;
	margin-bottom: 5px;
}

.ps_bl_di_n {
	font-size: 20px;
	text-align: center;
	color: #efa904;
	font-weight: 600;
}

.ps_bl_di_n.ps_bl_di_n_big {
	font-size: 40px;
}

.ps_bl_di_b {
	float: left;
	width: 50%;
}

.ps_bl_di_ic {
	text-align: center;
}

.ps_bl_di_ic img {
	text-align: center;
	display: inline-block;
}

.ps_bl_d_but {
	display: block;
	height: 60px;
	line-height: 60px;
	background-color: #efa904;
	border-radius: 30px;
	text-align: center;
	color: #fff;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: 800;
}

.h3_m {
	font-size: 30px;
	font-weight: 800;
	margin: 30px 0;
	text-align: center;
	color: #efa904;
	text-transform: uppercase;
}

.ps_b_gar_bl {
	float: left;
	width: 270px;
	height: 180px;
	padding: 100px 10px 0;
	background-repeat: no-repeat;
	background-position: 50% 0;
	text-align: center;
	font-size: 14px;
	line-height: 1.3;
}

.ps_b_gar_bl:nth-child(1) {
	background-image: url(images/i_b_1.png);
}

.ps_b_gar_bl:nth-child(2) {
	background-image: url(images/i_b_2.png);
}

.ps_b_gar_bl:nth-child(3) {
	background-image: url(images/i_b_3.png);
}

.ps_b_gar_bl:nth-child(4) {
	background-image: url(images/i_b_4.png);
}

.zaym_b {
	padding: 15px 0;
}

.zaym_b_tb {
	border: 5px solid #f6f6f6;
	padding: 25px 30px;
	line-height: 1.6;
	text-align: center;
}

.zaym_bl {
	float: left;
	width: 370px;
	border: 5px solid #f6f6f6;
	border-radius: 10px;
}

.zaym_bh {
	display: flex;
	align-items: center;
	height: 100px;
	background-color: #f6f6f6;
	padding-left: 120px;
	font-size: 24px;
	line-height: 1.3;
	background-repeat: no-repeat;
	background-position: 20px 50%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.zaym_bl:nth-child(1) .zaym_bh {
	background-image: url(images/i_z_1.png);
}

.zaym_bl:nth-child(2) .zaym_bh {
	background-image: url(images/i_z_2.png);
}

.zaym_bl:nth-child(3) .zaym_bh {
	background-image: url(images/i_z_3.png);
}

.zaym_bi {
	margin: 0 25px;
	padding: 15px 0;
	border-bottom: 1px solid #eee;
	text-align: center;
}

.zaym_bi_t {
	font-size: 12px;
	text-align: center;
	color: #aaa;
	margin-bottom: 5px;
}

.zaym_bi_i {
	font-size: 20px;
	text-align: center;
	color: #efa904;
	font-weight: 600;
}

.zaym_bi_ht {
	padding: 20px 0;
	text-align: center;
	color: #67b429;
	font-size: 22px;
	font-weight: 600;
}

.zaym_bi_but {
	display: block;
	height: 60px;
	line-height: 60px;
	background-color: #67b429;
	border-radius: 30px;
	text-align: center;
	color: #fff;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: 800;
}

.zaym_b_pm_b div {
	float: left;
	width: 370px;
	height: 200px;
	padding: 110px 20px 0;
	background-repeat: no-repeat;
	background-position: 50% 0;
	text-align: center;
	font-size: 16px;
	line-height: 1.3;
	color: #3a3a3a;
}

.zaym_b_pm_b div:nth-child(1) {
	background-image: url(images/i_pm_1.png);
}

.zaym_b_pm_b div:nth-child(2) {
	background-image: url(images/i_pm_2.png);
}

.zaym_b_pm_b div:nth-child(3) {
	background-image: url(images/i_pm_3.png);
}

.zaym_b_pm_b div:nth-child(4) {
	background-image: url(images/i_pm_4.png);
	margin-left: 215px;
}

.zaym_b_pm_b div:nth-child(5) {
	background-image: url(images/i_pm_5.png);
}

.doc_w {
	padding: 15px 0 30px;
	background: url(images/bg_d.jpg) no-repeat 50% 0% / cover; 
}

.doc_block > a {
	display: block;
	float: left;
	width: 270px;
	height: 400px;
	background-color: rgba(255,255,255,0.8);
	border-radius: 10px;
}

.map_w {
	position: relative;
	width: 100%;
	height: 500px;
	position: relative;
}

#map {
	position: absolute;
	top: 0;
	left: 0;
	width: 99.95%;
	height: 500px;
}

.map_block {
	position: relative;
	float: right;
	width: 370px;
	height: 400px;
	margin-top: 50px;
	background-color: rgba(255,255,255,0.9);
	border: 5px solid #efa904;
	padding: 30px 30px 10px;
	border-radius: 10px;
}

.map_block_h {
	font-size: 30px;
	color: #efa904;
	font-weight: 800;
	text-align: center;
	margin-bottom: 30px;
}

.map_block_t {
	margin-top: 30px;
	margin-bottom: 30px;
}

.map_block_t1 {
	font-size: 16px;
	margin-bottom: 5px;
}

.map_block_t2 {
	font-size: 30px;
	margin-bottom: 10px;
}

.map_block_t4 {
	font-size: 20px;
}

.map_block_t3 a {
	border-bottom: 1px dotted;
}

.map_block_t4 a {
	border-bottom: 1px dotted;
}














.overlay {
    background-color: rgba(20, 20, 20, 0.3);
    backdrop-filter: blur(5px);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 30;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    background-color: #fff;
    border: 5px solid #0a114d;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 50;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
	
	box-shadow: 0 0 100px #00000055;
}

.overlay:target+.popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}

.close {
    background-color: #0a114d;
    height: 30px;
    line-height: 26px;
    position: absolute;
    right: -5px;
    text-align: center;
    text-decoration: none;
    top: -5px;
    width: 30px;
}

.close:before {
    color: #fff;
    content: "x";
    font-size: 16px;
	font-family: Arial;
}

.close:hover {
    background-color: #364096;
}


.form-popup {
	width: 400px;
	min-height: 70px;
}

.form-popup .hf-z {
	font-size: 22px;
	font-weight: 600;
	line-height: 1.2;
	text-align: center;
	color: #0a114d;
	margin: 10px 0 10px;
	padding: 0 20px;
}

.form-popup .hf-t {
	font-size: 14px;
	line-height: 1.2;
	text-align: center;
	color: #222;
	padding: 0px 20px;
	margin-bottom: 20px;
}

.form-popup img {
	margin: 10px 0 10px 160px;
}

.form-popup .hf-a {
	font-size: 30px;
	line-height: 1;
	font-weight: bold;
	text-align: center;
	color: #222;
	margin: 10px 0 15px;
	padding: 0 20px;
}

.form-popup .hf-b {
	font-size: 20px;
	line-height: 1.3;
	text-align: center;
	color: #222;
	padding: 0;
	margin: 0 0 15px;
}

.form-popup .fp-label {
	margin: 0 0 5px;
	display: block;
	font-size: 12px;
}

.form-popup form {
	width: 100%;
	padding: 0 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.form-popup form input[type=text] {
	width: 100%;
	padding: 12px 20px;
    margin-bottom: 15px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #ddd;
	border-radius: 2px;
}

.form-popup form input[type=submit] {
    display: block;
    background-color: #ffda0c;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #333;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    border-bottom: 2px solid #d6b500;
    box-shadow: 0 0 20px rgba(255,218,12,0.6);
}

.form-popup form input[type=submit]:hover {
	background-color: #ffc600;
	border-bottom: 2px solid #f0bb02;
	color: #333;
}

input[name=name] {
	background: url(images/form-man.png) no-repeat 20px 50%;
}

input[name=phone] {
	background: url(images/form-phone.png) no-repeat 20px 50%;
}

input[name=e_mail] {
	background: url(images/form-mail.png) no-repeat 20px 50%;
}

.b-top {
	z-index:12;
	position:fixed;
	right:20px;
	bottom:80px;
	width:64px;
	opacity: 0.6;
	filter:alpha(opacity=60);
}

.b-top:hover {
	opacity:1;
	filter:alpha(opacity=100);
	cursor:pointer;
}

.b-top-but {
	z-index:2600;
	position:absolute;
	display:block;
	left:0px;
	font-size: 12px;
	bottom:0;
	margin:0 0 0 0;
	padding:32px 12px 10px;
	color:white;
	background: #2a2e43 url(images/b-j-top.png) no-repeat 50% 11px;
	border-radius:3px;
}



/*** Калькулятор ***/


.tm-header-container {background-color:#fff;}

.layout-slider-summ {
	margin: 80px 10px 30px;padding:0 30px;
}
.layout-slider-srok {
    margin: 62px 10px 30px;padding:0 30px;
}
.calc-title {
    font-size: 26px;
    font-weight: bold;
    padding: 0px;
}
.calc-subtitle {
	font-size: 22px;
    padding: 5px 0px;
	float: left;
	line-height: 20px;
}
.calc-subtitle.right {
	font-size: 28px;
    padding: 20px 0px 0px;
    float: left;
	font-weight: 700;color:#f44336;text-shadow: 1px 1px 1px #fff;
}
.calc-kapital {
	font-size: 18px;
    padding: 20px 0px 0px;
    float: left;
}
.calc-kapital .label {background:transparent;font-weight:700;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;
    position: relative;padding:7px 0 0 0;
    margin: 10px 0 0 40px;
    font-size: 28px;
}
.calc-kapital input {
    opacity: 0;
    position: absolute;
}
.calc-kapital input[type="checkbox"]:checked + .label:before, input[type="checkbox"]:checked + label + .label:before {
    background: url(images/checkbox2.jpg) right center no-repeat;
}
.calc-kapital input[type="checkbox"] + .label:before, input[type="checkbox"] + label + .label:before {
    content: '';
    background: url(images/checkbox2.jpg) left center no-repeat;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    padding: 0px;
    margin-top: -4px;
    margin-left: -40px;
    margin-right: 10px;
    text-align: center;
	box-shadow: inset 0px 0px 0px 1px #329835;
}
.calc_left {
	width: 50%;
	color: #fff;
    padding: 15px 0 25px 15px;
	float: left;
}
.calc_right {
	width: 50%;
    color: #fff;
    padding: 15px 15px;
	float: right;
}
.results-left {background: rgba(0,0,0, 0.5);
    color: #fff;
    padding: 35px;

}
.results-center {color: #fff;background: rgba(0,0,0, 0.5);
    padding: 35px;

}
.results-right {background: rgba(0,0,0, 0.5);
    color: #fff;
    padding: 35px;
	margin: 0;

}
.jslider .jslider-bg i,
.jslider .jslider-pointer { background: url(images/jslider_2.png) no-repeat 0 0; }

.jslider { display: block; width: 100%; height: 1em; position: relative; top: 0.6em;}
.jslider table { width: 100%; border-collapse: collapse; border: 0; }
.jslider td, .jslider th { padding: 0; vertical-align: top; text-align: left; border: 0; }

.jslider table,
.jslider table tr,
.jslider table tr td { width: 100%; vertical-align: top; }

/* .jslider .jslider-bg { position: relative; } */
.jslider .jslider-bg i { height: 5px; position: absolute; font-size: 0; top: 0; }
.jslider .jslider-bg .l { width: 10%; background-position: 0 0; left: 0; }
.jslider .jslider-bg .f { width: 80%; left: 10%; background-repeat: repeat-x; background-position: 0 -20px; }
.jslider .jslider-bg .r { width: 10%; left: 90%; background-position: right 0; }
.jslider .jslider-bg .v { position: absolute; width: 60%; left: 20%; top: 0; height: 5px; background-repeat: repeat-x; background-position: 0 -40px; }

.jslider .jslider-pointer {
    width: 13px;
    height: 15px;
    background-position: 0 -48px;
    position: absolute;
    left: 20%;
    top: -4px;
    margin-left: -6px;
    cursor: pointer;
    cursor: hand;
    z-index: 1000;
}
  .jslider .jslider-pointer-hover { background-position: -41px -48px; }
  .jslider .jslider-pointer-to { left: 80%; }

  .jslider .jslider-label { font-size: 9px; line-height: 12px; color: black; opacity: 0.4; white-space: nowrap; padding: 0px 2px; position: absolute; top: -18px; left: 0px; }
  .jslider .jslider-label-to { left: auto; right: 0; }

.jslider .jslider-value {
    font-size: 13px;
	font-weight: bold;
    color: #222;
    white-space: nowrap;
    padding: 10px 10px;
    position: absolute;
    top: -50px;
    left: 20%;
    background: #fff;
    line-height: 10px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
	margin-left: -35px;
}
  .jslider .jslider-value-to { left: 80%; }

  .jslider .jslider-label small,
  .jslider .jslider-value small { position: relative; top: -0.4em; }

.jslider .jslider-scale {
    position: absolute;
    top: 5px;
    left: 0;
    width: 92%;
}
.calc_left .jslider .jslider-scale {
    position: absolute;
    top: 5px;
	left: 0;
    width: 92%;
}
.jslider .jslider-scale span {
    position: absolute;
    height: 5px;
    /* border-left: 1px solid #999; */
    font-size: 0;
}
.jslider .jslider-scale span:first-child {

}
.jslider .jslider-scale ins {
	font-size: 12px;
    text-decoration: none;
    position: absolute;
    left: 0;
    top: 16px;
    color: #fff;
}
  .jslider-single .jslider-pointer-to,
  .jslider-single .jslider-value-to,
  .jslider-single .jslider-bg .v,
  .jslider-limitless .jslider-label { display: none; }

  .jslider_round_plastic .jslider-bg i,
  .jslider_round_plastic .jslider-pointer { background-image: url(images/jslider_2.png); }

.jslider_round_plastic .jslider-pointer {
    width: 40px;
    height: 50px;
    top: -26px;
    margin-left: -21px;
}
.summ_title {
	font-size: 20px;
    padding: 0 0 15px 0;
}
.summ_value {
    font-size: 42px;
    padding: 10px 0;
}
.dohod_title {
	font-size: 20px;
    padding: 0 0 15px 0;
}
.dohod_value {
    font-size: 42px;
    padding: 10px 0;
}
.calc_button {
    padding: 0 60px 0 0;
    text-align: center;
}
.calc_button a {
    background-color: #fbad18;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-size: 22px;
    padding: 26px;
    text-decoration: none;
    margin-top:15px;
    width: 100%;
}
.calc_button a:hover {
	background-color:#fbad18;
	color: #fff;
}
.ti-menu:hover  {
    cursor: pointer;
}
.bg-secondary {
    background: #7bbf21 !important;
}
.calc_left .jslider-value {
	margin-left: -40px;
}

/*** /Калькулятор ***/
@media screen and (min-width:761px) {
	.logo, .tel, .cb, .h_menu_block, .head_b h1, .head_b_calc, .kat_block > a, .map_block {
		margin-left: 15px;
		margin-right: 15px;
	}
	
	.ps_bl_d, .ps_b_gar_bl, .zaym_b_tb, .zaym_bl, .zaym_b_pm_b > div, .doc_block a {
		margin: 15px;
	}
}

@media screen and (max-width: 760px) {
	.logo, .tel, .mail, .h_menu_block, .head_b h1, .kat_block > a {
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.head_b_ben > div, .kat_block_info_f, .kat_block_info_text, .kat_block_info_desc, .kat_info, .about_block_f, .about_block_t, .fv_block_f {
		margin: 10px;
	}
	
	.b {
		width: 320px;
	}
	
	body {
		font-size: 14px;
	}
	
	p {
		font-size: 14px;
	}
	
	.h_w {
		padding: 20px 0 30px;
		height: auto;
	}
	
	.h_b {
		height: 120px;
	}
		
	.logo {
		width: 80px;
		height: 100px;
		background-size: 80px auto;
		padding: 0;
		text-indent: -3000px;
	}
		
	.f_b .logo {
		background-size: 80px auto;
	}
	
	.tel {
		width: 200px;
		height: 50px;
		line-height: 50px;
		font-size: 18px;
		background-size: 20px auto;
		padding-left: 30px;
	}
	
	.mail {
		width: 200px;
		height: 50px;
		line-height: 50px;
		background-size: 20px auto;
		padding-left: 30px;
	}
	
	.mail a {
		font-size: 18px;
	}

	.h_menu_block {
		display: block;
		height: auto;
		padding: 10px 30px;
	}

	.h_menu_block a {
		display: block;
		font-size: 18px;
		line-height: 30px;
		/*background: url(images/menu_i.png) no-repeat 0 50%;*/
		padding-left: 35px;
	}

	.h_menu_block a:hover {
		color: #7facd5;
	}

	.h_menu_block img {
		display: none;
	}
	
	.head_b h1 {
		font-size: 32px;
		line-height: 1.3;
		margin: 0 auto 20px;
	}

	.head_b_ben > div {
		width: 300px;
		height: 50px;
		text-align: left;
		padding: 0px 0px 0 0px;
		background-image: url(images/ben.png);
		background-position: 15px 50%;
		background-repeat: no-repeat;
		background-size: auto 50px;
	}

	.head_b_ben > div .head_b_ben_t {
		display: flex;
		align-items: center;
		padding: 0px 0px 0 90px;
		background-position: 20px 7px;
		font-size: 14px;
		line-height: 1.3;
		background-size: auto 30px;
	}
	
	.m_h2 {
		font-size: 22px;
		line-height: 1.3;
		margin: 10px 0;
	}
	
	.kat_block_info_f {
		width: 300px;
		height: 230px;
		padding: 5px;
	}
	
	.kat_block_info_f > img {
		width: 290px;
		height: 190px;
	}
	
	.kat_block_info_text h3 {
		font-size: 22px;
	}
	
	.kat_block_info_text {
		width: 300px;
		padding: 0;
		height: auto;
	}
	
	.kat_block_info_har_h {
		width: 100%;
		font-weight: 600;
		margin-bottom: 10px;
	}
	
	.kat_block_info_har_t {
		width: 100%;
	}
	
	.kat_block_info_har_t p {
		font-size: 14px;
	}
	
	.kat_block_info_desc_a {
		width: 300px;
		height: 40px;
		line-height: 40px;
		font-size: 14px;
	}
	
	.kat_block_info_har_t p {
		padding-right: 10px;
	}
	
	.kat_info {
		height: auto;
	}
	
	.kat_info_img {
		position: absolute;
		top: 35px;
		left: 25px;
		width: 250px;
	}
	
	.kat_info_text {
		padding: 150px 15px 15px;
		font-size: 14px;
		line-height: 1.4;
	}
	
	.about_block_f {
		width: 300px;
		height: 200px;
	}
	
	.about_block_t {
		width: 300px;
		padding: 0;
	}
	
	.about_block_t p {
		font-size: 14px;
		line-height: 1.4;
		margin: 10px 0;
	}
	
	.fv_block_f {
		width: 300px;
		height: 200px;
	}
	
	.cons_h {
		margin: 15px 0;
		font-size: 30px;
	}
	
	.cons_t {
		margin: 15px 0;
		font-size: 14px;
	}
	
	.cons_but {
		width: 300px;
		font-size: 14px;
		height: 40px;
		line-height: 40px;
	}
	
	.f_b {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	.kat_color_h {
		font-size: 20px;
		margin-top: -43px;
	}
	
	.kat_color_block {
		display: block;
		margin: 0px 0;
	}
	
	.kat_color_block > div {
		height: 40px;
		line-height: 40px;
		padding-left: 60px;
		background-size: 40px;
		font-size: 14px;
		margin: 10px 0;
	}
	
	.do_block_i {
		width: 300px;
		height: auto;
	}
	
	.do_block_i > div {
		font-size: 14px;
		line-height: 1.3;
		margin: 10px 0;
	}
	
	.do_block_tk {
		width: 320px;
	}
	
	.do_block_tk_h {
		font-size: 18px;
		line-height: 28px;
	}
	
	.do_block_tk_b > img {
		width: 140px;
		margin: 10px 10px;
	}
	
	.klient_block img {
		width: 140px;
	}
	
	.klient_block_h {
		font-size: 20px;
		line-height: 1.3;
	}
	
	.klient_block_2 img {
		width: 140px;
	}
	
	.hform_b_h {
		width: 300px;
		font-size: 16px;
	}
	
	.hform_but {
		width: 300px;
	}
	
	.hform_but a {
		margin: 10px auto;
		font-size: 20px;
	}
	
	.popup {
		padding: 15px 0;
	}
	
	.popup .but {
		font-size: 18px;
	}
	
	.form-popup {
		width: 280px;
	}
	
	.form-popup .hf-z {
		font-size: 20px;
	}
	
	.form-popup form input[type=text] {
		padding: 10px 20px;
		margin-bottom: 15px;
		font-size: 16px;
	}
}


div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right{height:13px}
div.pp_default .pp_top .pp_left{background:url(../img/prettyPhoto/default/sprite.png) -78px -93px no-repeat}
div.pp_default .pp_top .pp_middle{background:url(../img/prettyPhoto/default/sprite_x.png) top left repeat-x}
div.pp_default .pp_top .pp_right{background:url(../img/prettyPhoto/default/sprite.png) -112px -93px no-repeat}
div.pp_default .pp_content .ppt{color:#f8f8f8}
div.pp_default .pp_content_container .pp_left{background:url(../img/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;padding-left:13px}
div.pp_default .pp_content_container .pp_right{background:url(../img/prettyPhoto/default/sprite_y.png) top right repeat-y;padding-right:13px}
div.pp_default .pp_next:hover{background:url(../img/prettyPhoto/default/sprite_next.png) center right no-repeat;cursor:pointer}
div.pp_default .pp_previous:hover{background:url(../img/prettyPhoto/default/sprite_prev.png) center left no-repeat;cursor:pointer}
div.pp_default .pp_expand{background:url(../img/prettyPhoto/default/sprite.png) 0 -29px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_expand:hover{background:url(../img/prettyPhoto/default/sprite.png) 0 -56px no-repeat;cursor:pointer}
div.pp_default .pp_contract{background:url(../img/prettyPhoto/default/sprite.png) 0 -84px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_contract:hover{background:url(../img/prettyPhoto/default/sprite.png) 0 -113px no-repeat;cursor:pointer}
div.pp_default .pp_close{width:30px;height:30px;background:url(../img/prettyPhoto/default/sprite.png) 2px 1px no-repeat;cursor:pointer}
div.pp_default .pp_gallery ul li a{background:url(../img/prettyPhoto/default/default_thumb.png) center center #f8f8f8;border:1px solid #aaa}
div.pp_default .pp_social{margin-top:7pxz; display: none;}
div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next{position:static;left:auto}
div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause{background:url(../img/prettyPhoto/default/sprite.png) -51px 1px no-repeat;height:30px;width:30px}
div.pp_default .pp_nav .pp_pause{background-position:-51px -29px}
div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next{background:url(../img/prettyPhoto/default/sprite.png) -31px -3px no-repeat;height:20px;width:20px;margin:4px 0 0}
div.pp_default a.pp_arrow_next{left:52px;background-position:-82px -3px}
div.pp_default .pp_content_container .pp_details{margin-top:5px}
div.pp_default .pp_nav{clear:none;height:30px;width:110px;position:relative}
div.pp_default .pp_nav .currentTextHolder{font-family:Georgia;font-style:italic;color:#999;font-size:11px;left:75px;line-height:25px;position:absolute;top:2px;margin:0;padding:0 0 0 10px}
div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:0.7}
div.pp_default .pp_description{font-size:11px;font-weight:700;line-height:14px;margin:5px 50px 5px 0}
div.pp_default .pp_bottom .pp_left{background:url(../img/prettyPhoto/default/sprite.png) -78px -127px no-repeat}
div.pp_default .pp_bottom .pp_middle{background:url(../img/prettyPhoto/default/sprite_x.png) bottom left repeat-x}
div.pp_default .pp_bottom .pp_right{background:url(../img/prettyPhoto/default/sprite.png) -112px -127px no-repeat}
div.pp_default .pp_loaderIcon{background:url(../img/prettyPhoto/default/loader.gif) center center no-repeat}
div.light_rounded .pp_top .pp_left{background:url(../img/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat}
div.light_rounded .pp_top .pp_right{background:url(../img/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat}
div.light_rounded .pp_next:hover{background:url(../img/prettyPhoto/light_rounded/btnNext.png) center right no-repeat;cursor:pointer}
div.light_rounded .pp_previous:hover{background:url(../img/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}
div.light_rounded .pp_expand{background:url(../img/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.light_rounded .pp_expand:hover{background:url(../img/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.light_rounded .pp_contract{background:url(../img/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.light_rounded .pp_contract:hover{background:url(../img/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.light_rounded .pp_close{width:75px;height:22px;background:url(../img/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.light_rounded .pp_nav .pp_play{background:url(../img/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.light_rounded .pp_nav .pp_pause{background:url(../img/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.light_rounded .pp_arrow_previous{background:url(../img/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat}
div.light_rounded .pp_arrow_next{background:url(../img/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat}
div.light_rounded .pp_bottom .pp_left{background:url(../img/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat}
div.light_rounded .pp_bottom .pp_right{background:url(../img/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat}
div.dark_rounded .pp_top .pp_left{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat}
div.dark_rounded .pp_top .pp_right{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat}
div.dark_rounded .pp_content_container .pp_left{background:url(../img/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y}
div.dark_rounded .pp_content_container .pp_right{background:url(../img/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y}
div.dark_rounded .pp_next:hover{background:url(../img/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat;cursor:pointer}
div.dark_rounded .pp_previous:hover{background:url(../img/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat;cursor:pointer}
div.dark_rounded .pp_expand{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.dark_rounded .pp_expand:hover{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.dark_rounded .pp_contract{background:url(../img/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.dark_rounded .pp_contract:hover{background:url(../img/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.dark_rounded .pp_close{width:75px;height:22px;background:url(../img/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.dark_rounded .pp_description{margin-right:85px;color:#fff}
div.dark_rounded .pp_nav .pp_play{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.dark_rounded .pp_nav .pp_pause{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.dark_rounded .pp_arrow_previous{background:url(../img/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat}
div.dark_rounded .pp_arrow_next{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat}
div.dark_rounded .pp_bottom .pp_left{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat}
div.dark_rounded .pp_bottom .pp_right{background:url(../img/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat}
div.dark_rounded .pp_loaderIcon{background:url(../img/prettyPhoto/dark_rounded/loader.gif) center center no-repeat}
div.dark_square .pp_left,div.dark_square .pp_middle,div.dark_square .pp_right,div.dark_square .pp_content{background:#000}
div.dark_square .pp_description{color:#fff;margin:0 85px 0 0}
div.dark_square .pp_loaderIcon{background:url(../img/prettyPhoto/dark_square/loader.gif) center center no-repeat}
div.dark_square .pp_expand{background:url(../img/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.dark_square .pp_expand:hover{background:url(../img/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.dark_square .pp_contract{background:url(../img/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.dark_square .pp_contract:hover{background:url(../img/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.dark_square .pp_close{width:75px;height:22px;background:url(../img/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.dark_square .pp_nav{clear:none}
div.dark_square .pp_nav .pp_play{background:url(../img/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.dark_square .pp_nav .pp_pause{background:url(../img/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.dark_square .pp_arrow_previous{background:url(../img/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat}
div.dark_square .pp_arrow_next{background:url(../img/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat}
div.dark_square .pp_next:hover{background:url(../img/prettyPhoto/dark_square/btnNext.png) center right no-repeat;cursor:pointer}
div.dark_square .pp_previous:hover{background:url(../img/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat;cursor:pointer}
div.light_square .pp_expand{background:url(../img/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.light_square .pp_expand:hover{background:url(../img/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.light_square .pp_contract{background:url(../img/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.light_square .pp_contract:hover{background:url(../img/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.light_square .pp_close{width:75px;height:22px;background:url(../img/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.light_square .pp_nav .pp_play{background:url(../img/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat;height:15px;width:14px}
div.light_square .pp_nav .pp_pause{background:url(../img/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat;height:15px;width:14px}
div.light_square .pp_arrow_previous{background:url(../img/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat}
div.light_square .pp_arrow_next{background:url(../img/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat}
div.light_square .pp_next:hover{background:url(../img/prettyPhoto/light_square/btnNext.png) center right no-repeat;cursor:pointer}
div.light_square .pp_previous:hover{background:url(../img/prettyPhoto/light_square/btnPrevious.png) center left no-repeat;cursor:pointer}
div.facebook .pp_top .pp_left{background:url(../img/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat}
div.facebook .pp_top .pp_middle{background:url(../img/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x}
div.facebook .pp_top .pp_right{background:url(../img/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat}
div.facebook .pp_content_container .pp_left{background:url(../img/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y}
div.facebook .pp_content_container .pp_right{background:url(../img/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y}
div.facebook .pp_expand{background:url(../img/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat;cursor:pointer}
div.facebook .pp_expand:hover{background:url(../img/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat;cursor:pointer}
div.facebook .pp_contract{background:url(../img/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat;cursor:pointer}
div.facebook .pp_contract:hover{background:url(../img/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat;cursor:pointer}
div.facebook .pp_close{width:22px;height:22px;background:url(../img/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat;cursor:pointer}
div.facebook .pp_description{margin:0 37px 0 0}
div.facebook .pp_loaderIcon{background:url(../img/prettyPhoto/facebook/loader.gif) center center no-repeat}
div.facebook .pp_arrow_previous{background:url(../img/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;height:22px;margin-top:0;width:22px}
div.facebook .pp_arrow_previous.disabled{background-position:0 -96px;cursor:default}
div.facebook .pp_arrow_next{background:url(../img/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat;height:22px;margin-top:0;width:22px}
div.facebook .pp_arrow_next.disabled{background-position:-32px -96px;cursor:default}
div.facebook .pp_nav{margin-top:0}
div.facebook .pp_nav p{font-size:15px;padding:0 3px 0 4px}
div.facebook .pp_nav .pp_play{background:url(../img/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat;height:22px;width:22px}
div.facebook .pp_nav .pp_pause{background:url(../img/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat;height:22px;width:22px}
div.facebook .pp_next:hover{background:url(../img/prettyPhoto/facebook/btnNext.png) center right no-repeat;cursor:pointer}
div.facebook .pp_previous:hover{background:url(../img/prettyPhoto/facebook/btnPrevious.png) center left no-repeat;cursor:pointer}
div.facebook .pp_bottom .pp_left{background:url(../img/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat}
div.facebook .pp_bottom .pp_middle{background:url(../img/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x}
div.facebook .pp_bottom .pp_right{background:url(../img/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat}
div.pp_pic_holder a:focus{outline:none}
div.pp_overlay{background:#000;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}
div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}
.pp_content{height:40px;min-width:40px}
* html .pp_content{width:40px}
.pp_content_container{position:relative;text-align:left;width:100%}
.pp_content_container .pp_left{padding-left:20px}
.pp_content_container .pp_right{padding-right:20px}
.pp_content_container .pp_details{float:left;margin:10px 0 2px}
.pp_description{display:none;margin:0}
.pp_social{float:left;margin:0}
.pp_social .facebook{float:left;margin-left:5px;width:55px;overflow:hidden}
.pp_social .twitter{float:left}
.pp_nav{clear:right;float:left;margin:3px 10px 0 0}
.pp_nav p{float:left;white-space:nowrap;margin:2px 4px}
.pp_nav .pp_play,.pp_nav .pp_pause{float:left;margin-right:4px;text-indent:-10000px}
a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}
.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}
.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}
.pp_gallery div{float:left;overflow:hidden;position:relative}
.pp_gallery ul{float:left;height:35px;position:relative;white-space:nowrap;margin:0 0 0 5px;padding:0}
.pp_gallery ul a{border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}
.pp_gallery ul a img{border:0}
.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0}
.pp_gallery li.default a{background:url(../img/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;display:block;height:33px;width:50px}
.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px!important}
a.pp_next{background:url(../img/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:right;height:100%;text-indent:-10000px;width:49%}
a.pp_previous{background:url(../img/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;display:block;float:left;height:100%;text-indent:-10000px;width:49%}
a.pp_expand,a.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000}
a.pp_close{position:absolute;right:0;top:0;display:block;line-height:22px;text-indent:-10000px}
.pp_loaderIcon{display:block;height:24px;left:50%;position:absolute;top:50%;width:24px;margin:-12px 0 0 -12px}
#pp_full_res{line-height:1!important}
#pp_full_res .pp_inline{text-align:left}
#pp_full_res .pp_inline p{margin:0 0 15px}
div.ppt{color:#fff;display:none;font-size:17px;z-index:9999;margin:0 0 5px 15px}
div.pp_default .pp_content,div.light_rounded .pp_content{background-color:#fff}
div.pp_default #pp_full_res .pp_inline,div.light_rounded .pp_content .ppt,div.light_rounded #pp_full_res .pp_inline,div.light_square .pp_content .ppt,div.light_square #pp_full_res .pp_inline,div.facebook .pp_content .ppt,div.facebook #pp_full_res .pp_inline{color:#000}
div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a{border-color:#fff}
div.pp_default .pp_details,div.light_rounded .pp_details,div.dark_rounded .pp_details,div.dark_square .pp_details,div.light_square .pp_details,div.facebook .pp_details{position:relative}
div.light_rounded .pp_top .pp_middle,div.light_rounded .pp_content_container .pp_left,div.light_rounded .pp_content_container .pp_right,div.light_rounded .pp_bottom .pp_middle,div.light_square .pp_left,div.light_square .pp_middle,div.light_square .pp_right,div.light_square .pp_content,div.facebook .pp_content{background:#fff}
div.light_rounded .pp_description,div.light_square .pp_description{margin-right:85px}
div.light_rounded .pp_gallery a.pp_arrow_previous,div.light_rounded .pp_gallery a.pp_arrow_next,div.dark_rounded .pp_gallery a.pp_arrow_previous,div.dark_rounded .pp_gallery a.pp_arrow_next,div.dark_square .pp_gallery a.pp_arrow_previous,div.dark_square .pp_gallery a.pp_arrow_next,div.light_square .pp_gallery a.pp_arrow_previous,div.light_square .pp_gallery a.pp_arrow_next{margin-top:12px!important}
div.light_rounded .pp_arrow_previous.disabled,div.dark_rounded .pp_arrow_previous.disabled,div.dark_square .pp_arrow_previous.disabled,div.light_square .pp_arrow_previous.disabled{background-position:0 -87px;cursor:default}
div.light_rounded .pp_arrow_next.disabled,div.dark_rounded .pp_arrow_next.disabled,div.dark_square .pp_arrow_next.disabled,div.light_square .pp_arrow_next.disabled{background-position:-22px -87px;cursor:default}
div.light_rounded .pp_loaderIcon,div.light_square .pp_loaderIcon{background:url(../img/prettyPhoto/light_rounded/loader.gif) center center no-repeat}
div.dark_rounded .pp_top .pp_middle,div.dark_rounded .pp_content,div.dark_rounded .pp_bottom .pp_middle{background:url(../img/prettyPhoto/dark_rounded/contentPattern.png) top left repeat}
div.dark_rounded .currentTextHolder,div.dark_square .currentTextHolder{color:#c4c4c4}
div.dark_rounded #pp_full_res .pp_inline,div.dark_square #pp_full_res .pp_inline{color:#fff}
.pp_top,.pp_bottom{height:20px;position:relative}
* html .pp_top,* html .pp_bottom{padding:0 20px}
.pp_top .pp_left,.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px}
.pp_top .pp_middle,.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px}
* html .pp_top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}
.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}
.pp_fade,.pp_gallery li.default a img{display:none}
/*
 * @author Timur Valiyev
 * @link https://webprowww.github.io
 */

/*
 * Project Style START (Mobile First)
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.head_b_calc_l_block_t {
  margin-top: 50px;
}
.calc-view {
  display: block;
  margin: 0;
  padding: 3px 0;
  position: absolute;
  top: -30px;
  width: 90px;
  border-radius: 5px;
  background: #fff;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}
.calc-view:after {
  display: block;
  margin: 0 0 -5px -5px;
  padding: 0;
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
}
.calc-val-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.calc-val-item {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 13px;
}
.calc .ui-slider {
  display: block;
  margin: 50px 20px 23px;
  padding: 0;
  position: relative;
  height: 1px;
}
.calc .ui-slider:before {
  display: block;
  margin: 0;
  padding: 0;
  content: '';
  background: #ebeff5;
  height: 6px;
}
.calc .ui-slider-range {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  background: #2c9902;
  background: -webkit-gradient(linear, left top, right top, from(#fcdd46), to(#efa902));
  background: linear-gradient(to right, #fcdd46 0%, #efa902 100%);
}
.calc .ui-slider-handle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px 0 0 -18px;
  padding: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0%;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #e3e3e3;
  line-height: 1;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}
.calc .ui-slider-handle:active,
.calc .ui-slider-handle:focus {
  outline: none;
}
.calc .ui-slider-handle:before {
  display: block;
  margin: 0;
  padding: 8px 0 0;
  content: '| | |';
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: inset 0 1px 5px -2px #000;
  box-shadow: inset 0 1px 5px -2px #000;
  color: #979797;
  text-align: center;
  font-size: 8px;
  font-weight: 300;
  line-height: 1;
  overflow: hidden;
}
/*
 * Small devices (phones, 576px and up)                          ≥ 576px
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*
 * Medium devices (tablets, 768px and up)                        ≥ 768px
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*
 * Large devices (desktops, 992px and up)                        ≥ 992px
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/*
 * Extra large devices (large desktops, 1200px and up)          ≥ 1200px
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
