/*
 * @author Timur Valiyev
 * @link https://webprowww.github.io
 */

.wrapper {
  padding-top: 75px;
  padding-bottom: 50px;
  height: auto;
}
.header {
  background: #060e24;
}
.footer {
  background: #060e24;
}
@media (min-width: 576px) {
  .wrapper {
    padding-top: 105px;
    padding-bottom: 80px;
  }
}
