/*
 * @author Timur Valiyev
 * @link https://webprowww.github.io
 */

html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #060e24;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.vegas-overlay {
  opacity: 0.8;
}
.h-100 {
  height: 100%;
}
.header {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #a6a6a6;
  z-index: 10;
  -webkit-transition: 0.16s all ease-in-out;
  -o-transition: 0.16s all ease-in-out;
  transition: 0.16s all ease-in-out;
}
.header.onscroll {
  background: rgba(0,0,0,0.9);
}
.section {
  display: block;
  margin: 0;
  padding: 0;
}
.logo-header {
  display: none;
  height: auto;
  margin: 10px 0;
  max-width: 100%;
}
.logo-home {
  display: block;
  height: auto;
  margin: 15px auto;
  max-width: 100%;
}
.icon-toggle {
  display: block;
  position: relative;
  height: 2px;
  background: #fff;
  margin: 8px 0;
}
.icon-toggle:before,
.icon-toggle:after {
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  left: 0px;
  right: 0px;
  background: #fff;
}
.icon-toggle:before {
  top: -8px;
}
.icon-toggle:after {
  bottom: -8px;
}
.nav {
  display: block;
  max-height: 0;
  margin: 0 -15px;
  padding: 0;
  background: rgba(0,0,0,0.85);
  overflow: hidden;
  -webkit-transition: 600ms max-height ease-in-out;
  -o-transition: 600ms max-height ease-in-out;
  transition: 600ms max-height ease-in-out;
}
.nav.open {
  max-height: 500px;
  border-top: 1px solid #a6a6a6;
  overflow-y: auto;
}
.nav-ln {
  display: block;
  margin: 0;
  padding: 5px 0;
  outline: none;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  -webkit-transition: 0.16s all ease-in-out;
  -o-transition: 0.16s all ease-in-out;
  transition: 0.16s all ease-in-out;
}
.nav-ln:hover,
.nav-ln:focus,
.nav-ln.active {
  text-decoration: none;
  outline: none;
  color: #f00;
}
.nav-toggle {
  display: block;
  width: 38px;
  margin: 10px 0;
  padding: 6px;
  border: 1px solid #fff;
  -webkit-transition: 0.16s all ease-in-out;
  -o-transition: 0.16s all ease-in-out;
  transition: 0.16s all ease-in-out;
}
.nav-toggle:hover {
  background: #c11f32;
}
.soc-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
}
.soc-icon {
  display: block;
  margin: 10px 5px;
  -webkit-transition: 0.16s all ease-in-out;
  -o-transition: 0.16s all ease-in-out;
  transition: 0.16s all ease-in-out;
}
.soc-icon:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.soc-icon:active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.helper-flex {
  display: block;
}
.helper-flex:before {
  content: '';
  display: block;
  height: 50px;
}
.content {
  display: block;
  margin: 15px 0;
}
.footer {
  display: block;
  margin: 0;
  padding: 0;
  border-top: 1px solid #a6a6a6;
}
.footer-copy {
  display: block;
  margin: 15px 0;
  font-size: 10px;
  color: #dedede;
}
.snav {
  display: block;
  padding: 0;
}
.snav-ln {
  display: block;
  margin: 15px 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.1;
}
.snav-ln:hover,
.snav-ln:active,
.snav-ln.active {
  font-weight: 600;
  -webkit-transition: 0.16s all ease-in-out;
  -o-transition: 0.16s all ease-in-out;
  transition: 0.16s all ease-in-out;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.item {
  display: block;
  position: relative;
  margin: 15px 0;
  overflow: hidden;
}
.item-img {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transition: 0.16s all ease-in-out;
  -o-transition: 0.16s all ease-in-out;
  transition: 0.16s all ease-in-out;
}
.item-desc {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 5px;
  -webkit-transition: 0.16s all ease-in-out;
  -o-transition: 0.16s all ease-in-out;
  transition: 0.16s all ease-in-out;
}
.item-title {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 11px;
}
.item-text {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-weight: 400;
}
.item-ln {
  display: block;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  color: #fff;
}
.item-ln:hover .item-img {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-filter: none;
          filter: none;
}
.item-ln:hover .item-desc {
  background: rgba(0,0,0,0.6);
}
@media (min-width: 576px) {
  .item-title {
    font-size: 13px;
  }
  .item-text {
    font-size: 11px;
  }
}
@media (min-width: 768px) {
  .logo-header {
    display: block;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
  }
  .nav.open {
    max-height: 100%;
    border-top: none;
    overflow: auto;
  }
  .nav-ln {
    display: block;
    margin: 0;
    padding: 5px 8px;
    font-size: 14px;
  }
  .nav-toggle {
    display: none;
  }
  .footer-copy {
    font-size: 11px;
  }
}
@media (min-width: 992px) {
  .logo-header {
    margin: 0;
  }
  .logo-header-wrap {
    display: block;
    background: #c11f32;
    padding: 30px 20px;
    margin: 10px 0;
    outline: none;
    text-decoration: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: 0.16s all ease-in-out;
    -o-transition: 0.16s all ease-in-out;
    transition: 0.16s all ease-in-out;
  }
  .logo-header-wrap:hover,
  .logo-header-wrap:focus {
    background: #a41a2a;
  }
  .header.onscroll .logo-header-wrap {
    margin: 10px 0;
    padding: 0;
    background: transparent;
  }
  .nav-ln {
    padding: 5px 15px;
    font-size: 18px;
  }
  .helper-flex:before {
    height: 103px;
  }
  .item-title {
    font-size: 16px;
  }
  .item-text {
    font-size: 13px;
  }
}
@media (min-width: 1200px) {
  .nav-ln {
    padding: 5px 25px;
    font-size: 18px;
  }
}
