/*!
 * @author Timur Valiyev
 * @link https://webprowww.github.io
 */
body,html{margin:0;padding:0}body{font-family:system-ui,-apple-system,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji}#content{display:-webkit-box;display:-ms-flexbox;display:flex;margin:0;padding:0;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;position:absolute;top:0;left:0;right:0;bottom:0}#content-size{font-size:50px;color:grey}