@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5unjc9');
  src:  url('fonts/icomoon.eot?5unjc9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5unjc9') format('truetype'),
    url('fonts/icomoon.woff?5unjc9') format('woff'),
    url('fonts/icomoon.svg?5unjc9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bars:before {
  content: "\e908";
}
.icon-play:before {
  content: "\e907";
}
.icon-vk:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e903";
}
.icon-youtube:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e905";
}
.icon-times:before {
  content: "\e906";
}
