@import "variables"

@font-face
  font-family 'icomoon'
  src url(icomoon-font-path + '/icomoon.ttf?9u2x6g') format('truetype'), url(icomoon-font-path + '/icomoon.woff?9u2x6g') format('woff'), url(icomoon-font-path + '/icomoon.svg?9u2x6g#icomoon') format('svg')
  font-weight normal
  font-style normal

i
  font-family 'icomoon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.i-1
  &:before
    content i-1
.i-2
  &:before
    content i-2
.i-3
  &:before
    content i-3
.i-4
  &:before
    content i-4
.i-5
  &:before
    content i-5
.i-6
  &:before
    content i-6
.i-7
  &:before
    content i-7
.i-8
  &:before
    content i-8
.i-9
  &:before
    content i-9
.i-10
  &:before
    content i-10
.i-11
  &:before
    content i-11
.i-12
  &:before
    content i-12
.i-13
  &:before
    content i-13
.i-14
  &:before
    content i-14
.i-15
  &:before
    content i-15
.i-16
  &:before
    content i-16
.i-17
  &:before
    content i-17
.i-18
  &:before
    content i-18
.i-19
  &:before
    content i-19
.i-20
  &:before
    content i-20
.i-21
  &:before
    content i-21
.i-22
  &:before
    content i-22
.i-23
  &:before
    content i-23
.i-24
  &:before
    content i-24
.i-25
  &:before
    content i-25
.i-26
  &:before
    content i-26
.i-27
  &:before
    content i-27
.i-28
  &:before
    content i-28
.i-29
  &:before
    content i-29
.i-30
  &:before
    content i-30
.i-31
  &:before
    content i-31
.i-32
  &:before
    content i-32

