/*
 * @author Timur Valiyev
 * @link https://webprowww.github.io
 */

/*
 * Project Style START
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
body {
  padding: 45px 0 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.9;
}
a {
  color: #006e9c;
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
  cursor: pointer;
  -webkit-transition: 0.16s all ease-in-out;
  transition: 0.16s all ease-in-out;
}
a:active,
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
  color: #ee1240;
}
.dropdown-item {
  line-height: 1.5;
  font-size: 13px;
}
.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item.active {
  color: #006e9c;
  background: transparent;
}
.dropdown.show > .vs-arr:after {
  content: "\e90b";
}
.ln-black {
  color: #000;
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
}
.ln-black:active,
.ln-black:focus,
.ln-black:hover {
  text-decoration: none;
  outline: none;
  color: #006e9c;
}
.section {
  display: block;
  margin: 0;
  padding: 30px 0;
}
.title {
  display: block;
  margin: 15px 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
}
.mobile-bar {
  background: #f7f9fa;
  -webkit-box-shadow: 0 2px 2px 0 rgba(33,37,41,0.3);
          box-shadow: 0 2px 2px 0 rgba(33,37,41,0.3);
}
.mobile-bar-logo {
  display: block;
  margin: 0 15px;
  padding: 0;
}
.mobile-bar-btn {
  display: block;
  margin: 0;
  padding: 10px 15px;
  color: #212529;
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 1;
}
.mobile-bar-btn:active,
.mobile-bar-btn:focus,
.mobile-bar-btn:hover {
  text-decoration: none;
  outline: none;
  color: #212529;
}
.jingle-pt {
  padding-top: 110px;
}
.jingle-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 auto;
  background: #006e9c;
  color: #fff;
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
}
.jingle-btn:active,
.jingle-btn:focus,
.jingle-btn:hover {
  text-decoration: none;
  outline: none;
  color: #fff;
}
.jingle-btn:before {
  display: block;
  content: "\e906";
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}
.jingle-btn.collapsed:before {
  content: "\e907";
}
.jingle-bar {
  padding: 5px 0 0 0;
  background: #006e9c;
  color: #fff;
  font-size: 13px;
  text-align: center;
}
.jingle-link {
  display: block;
  margin: 0 0 5px 0;
  padding: 0;
  color: #fff;
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
  line-height: 1;
}
.jingle-link:active,
.jingle-link:focus,
.jingle-link:hover {
  text-decoration: none;
  outline: none;
  color: #fff;
}
.jingle-txt {
  display: block;
  margin: 0 0 5px 0;
  padding: 0;
  line-height: 1;
}
.modal-full {
  vertical-align: top;
}
.modal-full.fancybox-content {
  display: block !important;
  margin: 0;
  padding: 0;
  top: 0px;
  left: 0px;
  right: 0px;
  min-height: 100%;
  background: #f7f9fa;
}
.modal-full-close {
  display: block;
  margin: 15px 0;
  padding: 0;
  color: #212529;
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
  line-height: 1;
  font-size: 21px;
  cursor: pointer;
}
.modal-full-close:active,
.modal-full-close:focus,
.modal-full-close:hover {
  text-decoration: none;
  outline: none;
  color: #212529;
}
.fancybox-full .fancybox-slide--html {
  padding: 0;
  margin: 0;
}
.fancybox-full .fancybox-slide:before {
  display: none;
}
.location {
  display: block;
  margin: 20px 0;
  padding: 0;
}
.location-link {
  display: block;
  margin: 0;
  padding: 20px 0;
  color: #212529;
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}
.location-link:active,
.location-link:focus,
.location-link:hover {
  text-decoration: none;
  outline: none;
  color: #212529;
}
.location-icon {
  color: #006e9c;
  font-size: 20px;
}
.location-sublink {
  display: block;
  margin: 0;
  padding: 0 0 20px;
  color: #212529;
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
}
.location-sublink:active,
.location-sublink:focus,
.location-sublink:hover {
  text-decoration: none;
  outline: none;
  color: #212529;
}
.mnav {
  display: block;
  margin: 20px 0;
  padding: 0;
  border-bottom: 1px solid #cfdbe1;
}
.mnav-toggle:before {
  display: block;
  content: "\e90c";
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mnav-link {
  display: block;
  margin: 0;
  padding: 20px 0;
  color: #212529;
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
  border-top: 1px solid #cfdbe1;
  font-weight: 700;
  font-size: 16px;
}
.mnav-link:active,
.mnav-link:focus,
.mnav-link:hover {
  text-decoration: none;
  outline: none;
  color: #212529;
}
.mnav-link.active {
  color: #006e9c;
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
}
.mnav-link.active:active,
.mnav-link.active:focus,
.mnav-link.active:hover {
  text-decoration: none;
  outline: none;
  color: #006e9c;
}
.mnav-sublink {
  display: block;
  margin: 0 0 20px;
  padding: 0;
  color: #212529;
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
}
.mnav-sublink:active,
.mnav-sublink:focus,
.mnav-sublink:hover {
  text-decoration: none;
  outline: none;
  color: #212529;
}
.mnav-sublink.active {
  color: #006e9c;
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
}
.mnav-sublink.active:active,
.mnav-sublink.active:focus,
.mnav-sublink.active:hover {
  text-decoration: none;
  outline: none;
  color: #006e9c;
}
.tnav {
  display: block;
  margin: 20px 0;
  padding: 0;
}
.tnav-link {
  display: block;
  margin: 0;
  padding: 20px 0;
  color: #212529;
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
}
.tnav-link:active,
.tnav-link:focus,
.tnav-link:hover {
  text-decoration: none;
  outline: none;
  color: #212529;
}
.tnav-icon {
  color: #006e9c;
}
*[data-toggle="collapse"].vs-arr:not(.collapsed):after {
  content: "\e90b";
}
.vs-arr:after {
  display: inline-block;
  margin: 0 0 0 3px;
  padding: 0;
  content: "\e908";
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}
.vs-arr.active:after {
  content: "\e90b";
}
.divider {
  height: 1px;
  background: #cfdbe1;
}
.logo-text {
  display: block;
  margin: 15px 0;
  padding: 0;
}
.advant-img {
  display: block;
  margin: 15px auto;
  padding: 0;
  max-width: 100%;
  height: auto;
}
.advant-text {
  display: block;
  margin: 15px 0;
  padding: 0;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}
.addr {
  display: block;
  margin: 15px 0;
  padding: 0;
}
.addr-bold {
  font-weight: 700;
  font-size: 20px;
}
.smap-point {
  fill: #f00;
}
.smap-polygon {
  fill: #f7f9fa;
  stroke: #beced6;
  -webkit-transition: 0.16s all ease-in-out;
  transition: 0.16s all ease-in-out;
}
.smap-text {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
}
.smap-group {
  cursor: pointer;
}
.smap-group:hover .smap-polygon {
  fill: #fdde25;
}
#smap-group-1:hover .smap-point,
#smap-group-1.active .smap-point {
  fill: #000;
}
#smap-group-1:hover .smap-polygon,
#smap-group-1.active .smap-polygon {
  fill: #3fc87b;
}
#smap-group-2:hover .smap-point,
#smap-group-2.active .smap-point {
  fill: #000;
}
#smap-group-2:hover .smap-polygon,
#smap-group-2.active .smap-polygon {
  fill: #ee1240;
}
#smap-group-3:hover .smap-point,
#smap-group-3.active .smap-point {
  fill: #000;
}
#smap-group-3:hover .smap-polygon,
#smap-group-3.active .smap-polygon {
  fill: #fdde25;
}
#smap-group-4:hover .smap-point,
#smap-group-4.active .smap-point {
  fill: #000;
}
#smap-group-4:hover .smap-polygon,
#smap-group-4.active .smap-polygon {
  fill: #9c37e2;
}
#smap-group-5:hover .smap-point,
#smap-group-5.active .smap-point {
  fill: #000;
}
#smap-group-5:hover .smap-polygon,
#smap-group-5.active .smap-polygon {
  fill: #f9ac1c;
}
#smap-group-6:hover .smap-point,
#smap-group-6.active .smap-point {
  fill: #000;
}
#smap-group-6:hover .smap-polygon,
#smap-group-6.active .smap-polygon {
  fill: #1e6e9b;
}
#smap-group-7:hover .smap-point,
#smap-group-7.active .smap-point {
  fill: #000;
}
#smap-group-7:hover .smap-polygon,
#smap-group-7.active .smap-polygon {
  fill: #3cc1ff;
}
.accord-ln {
  display: block;
  margin: 0;
  padding: 15px;
  color: #000;
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
}
.accord-ln:active,
.accord-ln:focus,
.accord-ln:hover {
  text-decoration: none;
  outline: none;
  color: #000;
}
.accord-ln.collapsed {
  color: #849499;
}
.accord-item {
  border-top: 1px solid #f7f9fa;
  border-bottom: 1px solid #f7f9fa;
  margin-top: -1px;
  padding: 10px;
  -webkit-transition: 0.16s all ease-in-out;
  transition: 0.16s all ease-in-out;
}
.accord-item:hover,
.accord-item.active {
  background: #f7f9fa;
}
.accord-item:hover .accord-ln,
.accord-item.active .accord-ln {
  color: #000;
}
.accord-item .classic-text {
  padding: 0 15px;
}
.slick-arrow.slick-prev:before {
  content: "\e909";
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 21px;
}
.slick-arrow.slick-next:before {
  content: "\e90a";
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 21px;
}
.slider.slick-dotted {
  display: block;
  margin: 15px -15px;
  padding: 0;
}
.slider-item {
  position: relative;
}
.slider-item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50%;
  width: 200px;
  margin-left: -145px;
  overflow: hidden;
  color: #fff;
}
.slider .slick-dots {
  bottom: 25px;
}
.slider .slick-dots li button:before {
  color: #fff;
  opacity: 1;
}
.slider .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #000;
}
.islider {
  display: block;
  margin: 15px 0;
  padding: 0;
}
.islider-img {
  display: block;
  margin: 15px 0;
  padding: 0;
}
.islider-text {
  display: block;
  margin: 15px;
  padding: 0;
  text-align: left;
}
.section.b-mb {
  margin-bottom: -100px;
}
.section.b-pt {
  padding-top: 100px;
}
.advant-img {
  display: block;
  margin: 15px auto;
  padding: 0;
  max-width: 100%;
  height: auto;
}
.advant-text {
  display: block;
  margin: 15px 0;
  padding: 0;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}
.nitem {
  display: block;
  margin: 50px 0;
  padding: 0;
}
.nitem-date {
  display: block;
  margin: 15px 0;
  padding: 0;
}
.nitem-date-bg {
  display: inline-block;
  padding: 10px 15px;
  background: #e6ebed;
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px -15px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-ln {
  display: block;
  margin: 15px 25px;
  padding: 0;
  color: #006e9c;
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
  font-size: 23px;
}
.social-ln:active,
.social-ln:focus,
.social-ln:hover {
  text-decoration: none;
  outline: none;
  color: #ee1240;
}
.footer {
  font-size: 14px;
}
.footer-logo {
  display: block;
  margin: 15px 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}
.footer-copy {
  display: block;
  margin: 15px 0;
  padding: 0;
  font-size: 12px;
}
.footer-ln {
  display: block;
  margin: 15px 0;
  padding: 0;
  color: #006e9c;
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
}
.footer-ln:active,
.footer-ln:focus,
.footer-ln:hover {
  text-decoration: none;
  outline: none;
  color: #ee1240;
}
.footer-ln.active {
  color: #ee1240;
}
.footer-ln-title {
  color: #000;
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}
.footer-ln-title:active,
.footer-ln-title:focus,
.footer-ln-title:hover {
  text-decoration: none;
  outline: none;
  color: #000;
}
.lgnav-dropdown-menu {
  display: none;
}
.bg-gray {
  background: #f7f9fa;
}
.classic-text:before,
.classic-text:after {
  content: '';
  display: block;
  clear: both;
}
.classic-text img {
  margin: 0;
  padding: 0;
  outline: none;
  max-width: 100%;
  height: auto;
}
.classic-text h2 {
  display: block;
  margin: 15px 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
}
.classic-text h5 {
  display: block;
  margin: 15px 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
}
.classic-text p {
  display: block;
  margin: 15px 0;
  padding: 0;
}
/*
 * Small screen / phone                                          ≥ 576px
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@media (min-width: 576px) {
  .jingle-pt {
    padding-top: 90px;
  }
  .slider.slick-dotted {
    display: block;
    margin: 15px 0;
    padding: 0;
  }
  .slider-item-text {
    width: 250px;
    margin-left: -230px;
    font-size: 1rem;
  }
}
/*
 * Medium screen / tablet                                        ≥ 768px
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@media (min-width: 768px) {
  .jingle-pt {
    padding-top: 80px;
  }
  .jingle-bar {
    padding: 0;
    font-size: 14px;
  }
  .jingle-link,
  .jingle-txt {
    margin: 10px 0;
  }
  .title {
    margin: 25px 0;
    padding: 0 0 0 80px;
    font-size: 40px;
  }
  .section {
    padding: 50px 0;
  }
  .accord-ln {
    font-size: 18px;
  }
  .slider-item-text {
    width: 350px;
    margin-left: -320px;
  }
  .classic-text h2 {
    font-size: 40px;
  }
}
/*
 * Large screen / desktop                                        ≥ 992px
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .jingle-pt {
    padding-top: 70px;
  }
  .jingle-link,
  .jingle-txt {
    padding: 18px 0;
    line-height: 1;
  }
  .jingle-bar-container {
    padding-right: 150px;
  }
  .jingle-btn {
    position: absolute;
    top: 0px;
    right: 15px;
    z-index: 100;
    padding: 24px 15px;
    font-size: 21px;
    line-height: 1;
  }
  .jingle-btn-container {
    position: relative;
  }
  .ltnav {
    background: #f7f9fa;
  }
  .ltnav .container {
    padding-right: 85px;
  }
  .ltnav-blink {
    display: block;
    margin: 0;
    padding: 25px 0;
    color: #212529;
    text-decoration: none;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
  }
  .ltnav-blink:active,
  .ltnav-blink:focus,
  .ltnav-blink:hover {
    text-decoration: none;
    outline: none;
    color: #006e9c;
  }
  .ltnav-bicon {
    color: #006e9c;
    font-size: 14px;
    vertical-align: middle;
  }
  .ltnav-link {
    display: block;
    margin: 0;
    padding: 28px 0;
    font-size: 13px;
    color: #849499;
    text-decoration: none;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    cursor: pointer;
    line-height: 1;
  }
  .ltnav-link:active,
  .ltnav-link:focus,
  .ltnav-link:hover {
    text-decoration: none;
    outline: none;
    color: #212529;
  }
  .ltnav-link:hover .ltnav-icon {
    color: #006e9c;
  }
  .lgnav {
    background: #f7f9fa;
    position: relative;
  }
  .lgnav-container {
    position: relative;
    padding-right: 95px;
  }
  .lgnav-link {
    display: block;
    margin: 0;
    padding: 28px 0;
    color: #212529;
    text-decoration: none;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 11px;
    line-height: 1;
  }
  .lgnav-link:active,
  .lgnav-link:focus,
  .lgnav-link:hover {
    text-decoration: none;
    outline: none;
    color: #006e9c;
  }
  .lgnav-col {
    position: static;
  }
  .lgnav-dropdown-menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 15px;
    height: 0px;
    overflow: hidden;
    position: absolute;
    top: 60px;
    left: 0px;
    right: 0px;
    background: #fff;
    z-index: 100;
    -webkit-transition: 0.16s all ease-in-out;
    transition: 0.16s all ease-in-out;
    opacity: 0;
  }
  .lgnav-dropdown-menu.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
    height: auto;
  }
  .lgnav-dropdown-item {
    display: block;
    margin: 0;
    padding: 10px 15px;
    width: 33.333333333333336%;
    color: #000;
    text-decoration: none;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: none;
    cursor: pointer;
  }
  .lgnav-dropdown-item:active,
  .lgnav-dropdown-item:focus,
  .lgnav-dropdown-item:hover {
    text-decoration: none;
    outline: none;
    color: #006e9c;
  }
  .lgnav-fixed .lgnav-dropdown-menu {
    left: 15px;
    right: 15px;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo-img {
    display: block;
    margin: 15px 0;
    padding: 0;
  }
  .logo-text {
    margin-left: 30px;
    width: 350px;
  }
  .slider-item-text {
    width: 450px;
    margin-left: -430px;
  }
}
/*
 * Extra large screen / wide desktop                            ≥ 1200px
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@media (min-width: 1200px) {
  .title {
    font-weight: 900;
  }
  .ltnav-blink,
  .ltnav-link,
  .ltnav .dropdown-item {
    font-size: 14px;
  }
  .ltnav-bicon {
    font-size: 16px;
  }
  .ltnav-icon {
    font-size: 14px;
  }
  .lgnav-link {
    font-size: 13px;
  }
  .lgnav-dropdown-menu {
    padding: 15px 35px 35px;
    left: -50px;
    right: -50px;
  }
  .lgnav-fixed .lgnav-dropdown-menu {
    left: 70px;
    right: 70px;
  }
  .slider-item-text {
    width: 570px;
    margin-left: -500px;
  }
  .slider-item-text h2 {
    font-weight: 900;
    font-size: 50px;
  }
  .slider-item-text p {
    font-size: 18px;
  }
  .accord-ln {
    font-size: 20px;
  }
  .accord-item .classic-text {
    font-size: 16px;
  }
  .nitem .classic-text h5 {
    font-size: 18px;
    font-weight: 900;
    line-height: 1.8;
  }
  .nitem .classic-text p {
    font-size: 16px;
  }
}
/*
 * High Definition screen / hd desktop                            ≥ 1350px
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
@media (min-width: 1530px) {
  .jingle-bar-container {
    padding-right: 15px;
  }
  .jingle-btn {
    right: 0px;
    white-space: nowrap;
  }
  .jingle-btn:after {
    display: block;
    content: 'Выключить звонок';
    margin: 0 0 0 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
  }
  .jingle-btn.collapsed:after {
    content: 'Включить звонок';
  }
  .jingle-btn-container {
    position: static;
  }
  .lgnav .container {
    padding-right: 15px;
  }
  .ltnav .container {
    padding-right: 15px;
  }
  .d-hd-block {
    display: block !important;
  }
}
